nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: red;
}
.container{
  color: red;
}
ul{
  display:flex;
  list-style: none;
  margin:0;
  padding:0;
}
